body {
  background-color: #F4F6FE;
  color: #332F2F;
}

.panel {
  background-color: #FFF;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 15px 20px 35px rgba(0, 0, 0, 0.05);
}

.panel-add {
  background-color: #F9F2FF;
}

.panel-big {
  padding: 35px 40px;
}

.title {
  color: #332F2F;
}

.text {
  color: #A5A7BC;
}

.icon {
  color: #DBDCE8;
}

.avatar {
  box-shadow: 15px 20px 35px rgba(0, 0, 0, 0.15);
}

input.input {
  font-size: 14px;
  border: 2px solid #E6E8F7;
  border-radius: 10px;
  padding: 18px 24px;
  width: 100%;
  background-color: #FFF;
  position: relative;
  color: #332F2F;
}

input.input:focus {
  border-color: rgba(138, 102, 240, 0.6);
}

input.input.with-icon {
  padding-left: 60px;
}

input.input.error,
.custom-select-trigger.error {
  border-color: #ff9595;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon:before {
  background-position: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 63px;
  z-index: 10;
}

.input-icon.icon-email:before {
  content: url(/pictures/icon-email.svg);
}

.input-icon.icon-password:before {
  content: url(/pictures/icon-password.svg);
}

.input-icon.icon-smile:before {
  content: url(/pictures/icon-smile.svg);
}

.input-icon.icon-nickname:before {
  content: url(/pictures/icon-nickname.svg);
}

.password {
  position: relative;
  width: 100%;
}

.password-control {
  position: absolute;
  top: calc(50% - 9px);
  right: 20px;
  width: 21px;
  height: 21px;
  background: url(/pictures/view.svg) no-repeat;
  background-position: 0 50%;
}

.password-control.view {
  background: url(/pictures/no-view.svg) 0 no-repeat;
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 18px 50px 18px 24px;
  background: #FFF;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #E6E8F7;
  color: #332F2F;
  white-space: nowrap;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 2px solid #DBDCE8;
  border-right: 2px solid #DBDCE8;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  z-index: 100;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 300px;
  overflow-y: auto;
  margin: 5px 0px 0px 0px;
  border: 1px solid #E6E8F7;
  border-radius: 10px;
  box-shadow: 15px 20px 35px rgba(0, 0, 0, 0.05);
  background: #FFF;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-option {
  position: relative;
  display: block;
  padding: 18px 24px;
  border-bottom: 1px solid #E6E8F7;
  color: #332F2F;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  color: #8A66F0;
}

.button {
  padding: 13px 30px;
  border-radius: 40px;
  background: linear-gradient(93.07deg, #BD95FF, #5B68DE);
  color: white;
  box-shadow: 2px 10px 30px rgba(136, 78, 210, 0.3);
  transition: 0.3s;
  position: relative;
}

.button:hover {
  background: linear-gradient(93.07deg, #B086FC 0%, #4F5CE6 100%);
}
