* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:active,
button:focus {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

* {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.4em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 30px;
}

.notification {
  z-index: 1000;
  display: none;
  position: absolute;
  text-align: center;
  max-width: 300px;
  left: 50%;
  top: 30px;
  padding: 30px 40px;
  background-color: #69A042;
  color: #e6fdd5;
  border-radius: 10px;
  margin-left: -150px;
}

.icon-mess {
  margin-right: 10px;
}

.icon-mess.info path {
  stroke: #8A66F0;
}

.icon-mess.error path {
  stroke: #e06262;
}

.menu {
  padding: 4vh 1.55vw;
  grid-area: menu;
}

.tabs-content {
  grid-area: content;
  min-height: 100%;
}

.tabs {
  height: 100%;
  display: grid;
  grid-template-columns: 11vw 1fr;
  grid-template-rows: 1fr;
  gap: 0px 2.8vw;
  grid-template-areas: "menu content";
}

.tabs-triggers header {
  margin-bottom: 35px;
}

.tabs-triggers header .logo {
  margin-right: 20px;
}

.tabs-triggers header .name-app {
  font-size: 18px;
  font-weight: 800;
}

.tabs-triggers__item {
  text-align: center;
  padding: 1.6vh 0px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 0.85vw;
}

.tabs-triggers__item:hover {
  color: #8A66F0;
}

.tabs-triggers__item--active {
  position: relative;
}

@keyframes show-menu-indicator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-indicator-before {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.tabs-triggers__item--active span {
  left: 117%;
  top: 10px;
  position: absolute;
  height: 60%;
  width: 6px;
  border-radius: 5px;
  background-color: #8A66F0;
  animation-delay: 1s;
  animation: show-menu-indicator 1.5s ease;
}

li.tabs-triggers__item--active::before {
  content: '';
  position: absolute;
  width: 6px;
  border-radius: 5px;
  background-color: #8A66F0;
}

li.tabs-triggers__item--active::before {
  left: 110%;
  top: 16px;
  height: 40%;
  opacity: 0.5;
  animation: menu-indicator-before 1s;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item:first-child {
  grid-template-columns: minmax(0, 1.2fr) minmax(0, 0.8fr) 0.9fr;
  grid-template-rows: 75px 0.6fr 1fr;
  gap: 3.4vh 2vw;
  grid-template-areas: "head head head" "welcome welcome projects-progress" "week-statistic general-statistic projects-progress";
}

.tabs-content .tabs-content__item--active {
  display: grid;
  height: 100%;
}

.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px;
  gap: 0px 0px;
  grid-template-areas: "header user-panel";
  grid-area: head;
}

.user-panel {
  grid-area: user-panel;
  justify-content: flex-end;
}

.user-panel-wrapper {
  position: relative;
  padding-right: 55px;
  cursor: pointer;
}

.user-panel-wrapper .user-data {
  align-items: flex-end;
}

.user-panel-wrapper .user-data__fullname {
  font-weight: 800;
  font-size: 1.1vw;
  margin-bottom: 5px;
}

.user-panel-wrapper .user-data__spec {
  font-weight: 500;
  font-size: 1.7vh;
}

.user-panel-wrapper .user-avatar {
  height: 75px;
  width: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 25px;
}

.user-panel-wrapper .user-avatar__photo {
  height: auto;
  width: 100%;
}

.user-panel-wrapper:before {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 2px solid #8A66F0;
  border-right: 2px solid #8A66F0;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.user-panel-wrapper.active:before {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.user-menu {
  z-index: 1;
  display: none;
  position: absolute;
  right: 0;
  top: 130%;
}

.user-menu .user-menu__item {
  padding: 1vh 0px;
  transition: 0.3s;
}

.user-menu .user-menu__item:nth-child(2) {
  padding-bottom: 15px;
  justify-content: flex-start;
}

.user-menu .user-menu__item:nth-child(2) .menu-item__title {
  margin-right: 13px;
  font-weight: 600;
}

.user-menu .user-menu__item:nth-child(3) {
  padding: 15px 0px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.user-menu .user-menu__item:nth-child(4) {
  padding-top: 15px;
}

.user-menu .user-menu__item:nth-child(4) a {
  color: #A5A7BC;
  text-decoration: underline;
}

.user-menu .user-menu__item:nth-child(4) a:hover {
  color: #8A66F0;
}

.user-menu .user-menu__item:hover {
  color: #8A66F0;
}

.user-menu .menu-item__icon {
  margin-right: 13px;
  width: 22px;
  height: 22px;
}

.user-menu.active {
  display: block;
  animation: show-user-menu 0.5s;
}

@keyframes show-user-menu {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 130%;
    opacity: 1;
  }
}

.header {
  grid-area: header;
  justify-content: flex-start;
}

.header .title-section {
  margin-bottom: 0;
  grid-area: title;
}

.welcome {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "peoples welcome-content";
  grid-area: welcome;
  position: relative;
  max-height: 265px;
  padding-right: 80px;
  background-image: url(/pictures/icons/welcome-background.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.welcome .peoples {
  position: absolute;
  grid-area: peoples;
  left: -4%;
  width: 95%;
}

.welcome .welcome-content {
  grid-area: welcome-content;
}

.welcome .welcome-content .button {
  min-width: 75px;
  min-height: 75px;
  margin-left: 30px;
  position: relative;
}

.welcome .welcome-content .button:before {
  content: url(/pictures/icons/icon-play.svg);
  position: absolute;
  left: 29px;
  top: 20px;
}

.projects-progress {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "title" "list";
  grid-area: projects-progress;
}

.week-statistic {
  grid-area: week-statistic;
}

.general-statistic {
  grid-area: general-statistic;
}

.welcome .welcome__title {
  font-size: 1.2vw;
  margin-bottom: 15px;
}

.welcome .welcome__title .user-name {
  font-weight: 800;
  font-size: 1.2vw;
}

.welcome .welcome__text {
  font-size: 1.7vh;
  font-weight: 500;
}

.color-bold {
  font-weight: 800;
  color: #8A66F0;
  font-size: inherit;
}

.projects-list {
  grid-area: list;
  overflow-y: auto;
  padding: 0px 30px 0px 10px;
}

.list-ver__item {
  margin-bottom: 20px;
}

.list-hor .custom-select-wrapper {
  margin-left: 10px;
}

.list-hor .custom-select-wrapper:first-child {
  margin: 0;
}

.list-hor__item {
  margin-right: 20px;
}

.project__small .project-name {
  margin-bottom: 10px;
}

.project__small .progress {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.project__small .progress .text {
  font-weight: 500;
}

.project__small .progress-labels {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 7px;
  font-weight: 500;
}

.project__small .progress.arrow {
  padding-right: 40px;
}

.project__small .progress.arrow.active::before {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.project__small .progress.arrow:before {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 5px;
  margin-top: -3px;
  border-bottom: 2px solid #8A66F0;
  border-right: 2px solid #8A66F0;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.project__small .project-targets {
  margin-right: 10px;
}

.project__small .project-items {
  justify-content: flex-start;
}

.progress-percent {
  font-weight: 800;
  font-size: 1vw;
}

.progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  position: relative;
}

.progress-bar__current {
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(93.07deg, #BD95FF 1.04%, #5B68DE 100%);
}

.list-targets {
  transition: max-height 0.4s;
  overflow: hidden;
  padding-left: 10px;
}

.list-targets[aria-hidden="true"] {
  max-height: 0;
}

.list-targets[aria-hidden="false"] {
  max-height: var(--containerHeight, 1000px);
  margin-top: 20px;
}

.target-item {
  margin-bottom: 25px;
}

.target-item .target-item__number {
  font-size: 22px;
  margin-right: 25px;
}

.target-item .target-item__content {
  width: 100%;
}

.target-item .target-item__content .target-name {
  font-size: 1.7vh;
  margin-bottom: 3px;
}

.target-item .target-item__content .progress {
  margin-bottom: 0;
}

.target-item:last-child {
  margin-bottom: 10px;
}

.data-not-found {
  height: 100%;
  align-items: center;
}

.data-not-found__icon {
  margin-bottom: 10px;
}

.week-statistic {
  min-height: 100%;
}

.week-statistic__header {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.week-statistic .current-performance__value {
  font-weight: 800;
  font-size: 24px;
}

.week-statistic .last-performance__value {
  font-size: 16px;
}

.week-statistic__chart {
  height: 100%;
  width: 100%;
}

.week-statistic #weekly-chart {
  max-height: 100%;
}

.general-statistic {
  justify-content: space-between;
  line-height: 1em;
}

.general-statistic .row {
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.general-statistic .row__data {
  width: 100%;
  margin-top: 1.7vh;
  justify-content: space-between;
  align-items: flex-end;
}

.general-statistic .row:last-child .row__data {
  justify-content: space-around;
}

.general-statistic .row:last-child .block-value:first-child {
  padding-right: 15%;
}

.general-statistic .row:last-child .block-value:last-child {
  padding-left: 15%;
}

.general-statistic .main-value {
  font-size: 2.4vw;
  font-weight: 800;
  line-height: 1em;
  width: fit-content;
}

.general-statistic .second-value {
  font-size: 2vw;
  font-weight: 800;
  line-height: 1em;
}

.general-statistic .block-value {
  align-items: center;
}

.general-statistic .block-value .label-value {
  width: max-content;
  margin-top: 5px;
}

.general-statistic .data__second {
  width: 60%;
}

.general-statistic .data__second .block-value:first-child {
  padding-right: 15%;
}

.general-statistic .data__second .block-value:last-child {
  padding-left: 15%;
}
