* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

* {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 30px;
}

.menu {
  padding: 35px 0px;
  grid-area: menu;
}

.tabs-content {
  grid-area: content;
}

.tabs {
  height: 100%;
  display: grid;
  grid-template-columns: 215px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 55px;
  grid-template-areas: "menu content";
}

.tabs-triggers header .logo {
  margin-right: 20px;
}

.tabs-triggers header .name-app {
  font-size: 18px;
  font-weight: 800;
}

.tabs-triggers__item {
  font-weight: 600;
  text-align: center;
  padding: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.tabs-triggers__item:hover {
  color: #8A66F0;
}

.tabs-triggers__item--active {
  position: relative;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim-before {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes anim-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.tabs-triggers__item--active span {
  left: 99%;
  top: 10px;
  position: absolute;
  height: 60%;
  width: 6px;
  border-radius: 5px;
  background-color: #8A66F0;
  animation: anim 1s;
}

.tabs-triggers__item--active span::before,
.tabs-triggers__item--active span::after {
  content: '';
  position: absolute;
  width: 6px;
  border-radius: 5px;
  background-color: #8A66F0;
}

.tabs-triggers__item--active span::before {
  left: -10px;
  top: 7px;
  height: 60%;
  opacity: 0.7;
  animation-delay: 3s;
  animation: anim-before 1s;
}

.tabs-triggers__item--active span::after {
  left: -20px;
  top: 11px;
  height: 40%;
  opacity: 0.5;
  animation-delay: 6s;
  animation: anim-after 1s;
}

.tabs-content__item {
  padding: 20px;
  display: none;
  background-color: #eee;
}

.tabs-content__item--active {
  display: block;
}
