@import "variables.scss";

.task-block{
    max-width: 47%;
    flex-grow: 1;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s;

    // &:hover{
    //     transform: translateX(-2px) translateY(-2px);
    //     box-shadow: 15px 20px 35px rgba(0, 0, 0, 0.07);
    // }

    &.selection{
        //border: 1px solid $main;
    }
}

.task-block__head{
    justify-content: space-between;
    margin-bottom: 1.1vw;
}

.task-block__date{
    & .date{
        font-weight: 700;
        margin-left: 0.7vw;
        color: $main;
    }
}

.task-block__content{
    .progress{
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

.task-block__description{
    margin-top: 10px;
}

.task-block__footer{
    margin-top: 25px;
    justify-content: flex-start;
}