$main: #8A66F0; 
$gradient: linear-gradient(93.07deg, #BD95FF 1.04%, #5B68DE 100%);

$background: #1B1B1D;
$title:#DBDCE8;
$text: #676873;
$gray: #494951;
$border: #2F2F32;
$panel:#21242A;
$panel-add: #35373F;