@import "variables.scss";

.attach-block{

    .block-head__buttons{
        margin-left: 50px;
        width: max-content;
    }
    
    &__wrapper{
        align-items: flex-start;
    }

    .files-list{
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 290px;
        width: max-content;
        padding-top: 10px;
        padding-right: 20px;
        flex-wrap: wrap;
        overflow-y: auto;
        max-height: 160px;
    }

    & .comment{
        max-width: max-content;
        max-height: 80px;
        overflow: auto;
        padding-right: 20px;
    }

    & .date{
        font-weight: 700;
        color: $main;
        margin-left: 10px;
    }
}