@import "variables.scss";

.attach-block{
    height: 100%;

    .block-head__buttons{
        margin-left: 30px;
    }
    
    &__wrapper{
        align-items: flex-start;

        & .files{
            margin-left: 40px;
        }
    }

    .files-list{
        align-items: flex-start;
        justify-content: flex-start;
        width: 290px;
        margin-top: 10px;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 160px;
    }

    & .comment{
        max-width: 320px;
    }

    & .date{
        font-weight: 700;
        color: $main;
        margin-left: 10px;
    }
}