.data-block {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.data-block .block__head {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.data-block .block-content__description {
  margin-top: 10px;
}
.data-block .block__footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
