@import "variables.scss";

.data-block{
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        transform: translateX(-2px) translateY(-2px);
        @include shadow-hover();
    }

    &.selection{
        //border: 1px solid $main;
        transform: translateX(-6px) translateY(-6px);
        @include shadow-select();
    }
}