@import url(../styles/normalize.css);
* {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 30px;
}

.menu {
  padding: 35px 0px;
  grid-area: menu;
}

.tabs-content {
  grid-area: content;
}

.tabs {
  height: 100%;
  display: grid;
  grid-template-columns: 215px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 45px;
  grid-template-areas: "menu content";
}

.tabs-triggers header .logo {
  margin-right: 20px;
}
.tabs-triggers header .name-app {
  font-size: 18px;
  font-weight: 800;
}

.tabs-triggers__item {
  font-weight: 600;
  text-align: center;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.tabs-triggers__item:hover {
  color: #8A66F0;
}

.tabs-triggers__item--active {
  position: relative;
}

@-webkit-keyframes show-menu-indicator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-menu-indicator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes menu-indicator-before {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes menu-indicator-before {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.tabs-triggers__item--active span {
  left: 99%;
  top: 10px;
  position: absolute;
  height: 60%;
  width: 6px;
  border-radius: 5px;
  background-color: #8A66F0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: show-menu-indicator 1.5s ease;
          animation: show-menu-indicator 1.5s ease;
}

li.tabs-triggers__item--active::before {
  content: '';
  position: absolute;
  width: 6px;
  border-radius: 5px;
  background-color: #8A66F0;
}

li.tabs-triggers__item--active::before {
  left: 94%;
  top: 16px;
  height: 40%;
  opacity: 0.5;
  -webkit-animation: menu-indicator-before 1s;
          animation: menu-indicator-before 1s;
}

.tabs-content__item {
  padding: 20px;
  display: none;
  background-color: #eee;
}

.tabs-content__item--active {
  display: block;
}
