.project-block .participants-users__item:nth-child(2) {
  left: -10px;
}
.project-block .participants-users__item:nth-child(3) {
  left: -20px;
}
.project-block .participants-users__item:nth-child(4) {
  left: -30px;
}
.project-block .participants-users__item:nth-child(5) {
  left: -40px;
}

.block-head__label {
  width: 60px;
  height: 10px;
  border-radius: 5px;
}

.count-attach {
  margin-left: 5px;
}
